.usual ul {
	margin-left: 20px;
}

.usual li {
	list-style: none;
	float: left;
}

.usual ul a {
	background: #eeeeee;
	color: #111111;
	margin: 1px 1px 1px 0px;
	padding: 5px 10px;
	text-decoration: none !important;
	display: block;
	font-size-adjust: none;
	font-stretch: normal;
	font: 12px/normal Verdana;
}

.usual ul a:hover {
	background: #f5f5f5;
}

.usual ul a.selected {
	background: snow;
	/* color: #ffffff; */
	margin-bottom: 0px;
	border-bottom-color: snow;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	cursor: default;
}