body{ background:url(../images/bodybg_04.jpg) repeat-x top  #001071; margin:0; padding:0;}
ul,li,h1,h2,h3{ margin:0; padding:0; list-style:none;}
input{border:none; margin:0px; padding:0px;}
.main{ position:relative; background:url(../images/leftbg_01.jpg) no-repeat top left; overflow:hidden; display:block}
.logo{ position:absolute; top:25px; left:40px;}


.loginBox{ width:1060px; height:315px; margin:auto; background:url(../images/bg_02.jpg) no-repeat; padding-top:210px;}
.inputBox{ width:260px; height:210px; margin:auto 375px;}

.inputBox h1{ color:#fff; font-size: 25px; margin-bottom:20px;}
.inputBox .input_user,.inputBox .input_pass{ border:none; display:block; width:207px; height:46px; overflow:hidden; background:none; padding-left:60px; margin-bottom:10px; color:#fff; font-size:14px; line-height:41px;}
.inputBox .input_user{ background:url(../images/tx.png) no-repeat;}
.inputBox .input_pass{ background:url(../images/tx.png) 0 -46px no-repeat;}
.button{ width:100px; height:46px; background:url(../images/button.png) no-repeat; width:118px; height:41px; margin:auto 71px; text-indent:-9999px; cursor:pointer}
.button_hover{ width:100px; height:46px; background:url(../images/button.png) 0 -42px  no-repeat; width:118px; height:41px; margin:auto 71px; text-indent:-9999px; cursor:pointer}
.inputBox .downloadAppDiv{ padding:10px 0; text-align:center; font-size:14px; cursor:pointer; }
.bottom{ padding:5px 0; text-align:center; font-size:12px; }