<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.admin.dao.order.OrdersDao" >
  <resultMap id="ordersMap" type="Orders" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="order_sn" property="orderSn" jdbcType="VARCHAR" />
    <result column="customer_code" property="customerCode" jdbcType="VARCHAR" />
    <result column="customer_name" property="customerName" jdbcType="VARCHAR" />
    <result column="agree_sn" property="agreeSn" jdbcType="VARCHAR" />
    <result column="approval_status" property="approvalStatus" jdbcType="TINYINT" />
    <result column="pre_install_at" property="preInstallAt" jdbcType="TIMESTAMP" />
    <result column="deliver_at" property="deliverAt" jdbcType="TIMESTAMP" />
    <result column="install_at" property="installAt" jdbcType="TIMESTAMP" />
    <result column="completed_at" property="completedAt" jdbcType="TIMESTAMP" />
    <result column="created_at" property="createdAt" jdbcType="TIMESTAMP" />
    <result column="updated_at" property="updatedAt" jdbcType="TIMESTAMP" />
    <result column="created_by" property="createdBy" jdbcType="VARCHAR" />
    <result column="updated_by" property="updatedBy" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="is_delete" property="isDelete" jdbcType="BIT" />
  </resultMap>
  <sql id="Base_Column_List" >
    order_sn, customer_code, customer_name, agree_sn, approval_status, pre_install_at,
    deliver_at, install_at, completed_at, created_at, updated_at, created_by, updated_by, 
    remark, is_delete
  </sql>

  <sql id="table">orders</sql>

  <select id="getById" parameterType="java.lang.Integer" resultMap="ordersMap">
    select id,
    <include refid="Base_Column_List" />
    from <include refid="table"/>
    where id = #{id,jdbcType=INTEGER}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from orders
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <insert id="insert" parameterType="Orders" >
    insert into <include refid="table"/> (id, order_sn, customer_code,
      customer_name, agree_sn, approval_status, 
      pre_install_at, deliver_at, install_at, 
      completed_at, created_at, updated_at, 
      created_by, updated_by, remark, 
      is_delete)
    values (#{id,jdbcType=INTEGER}, #{orderSn,jdbcType=VARCHAR}, #{customerCode,jdbcType=VARCHAR}, 
      #{customerName,jdbcType=VARCHAR}, #{agreeSn,jdbcType=VARCHAR}, #{approvalStatus,jdbcType=TINYINT}, 
      #{preInstallAt,jdbcType=TIMESTAMP}, #{deliverAt,jdbcType=TIMESTAMP}, #{installAt,jdbcType=TIMESTAMP}, 
      #{completedAt,jdbcType=TIMESTAMP}, #{createdAt,jdbcType=TIMESTAMP}, #{updatedAt,jdbcType=TIMESTAMP}, 
      #{createdBy,jdbcType=VARCHAR}, #{updatedBy,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, 
      #{isDelete,jdbcType=BIT})
  </insert>

  <update id="update" parameterType="Orders" >
    update <include refid="table"/>
    <set >
      <if test="orderSn != null" >
        order_sn = #{orderSn,jdbcType=VARCHAR},
      </if>
      <if test="customerCode != null" >
        customer_code = #{customerCode,jdbcType=VARCHAR},
      </if>
      <if test="customerName != null" >
        customer_name = #{customerName,jdbcType=VARCHAR},
      </if>
      <if test="agreeSn != null" >
        agree_sn = #{agreeSn,jdbcType=VARCHAR},
      </if>
      <if test="approvalStatus != null" >
        approval_status = #{approvalStatus,jdbcType=TINYINT},
      </if>
      <if test="preInstallAt != null" >
        pre_install_at = #{preInstallAt,jdbcType=TIMESTAMP},
      </if>
      <if test="deliverAt != null" >
        deliver_at = #{deliverAt,jdbcType=TIMESTAMP},
      </if>
      <if test="installAt != null" >
        install_at = #{installAt,jdbcType=TIMESTAMP},
      </if>
      <if test="completedAt != null" >
        completed_at = #{completedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="createdAt != null" >
        created_at = #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null" >
        updated_at = #{updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="createdBy != null" >
        created_by = #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="updatedBy != null" >
        updated_by = #{updatedBy,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="isDelete != null" >
        is_delete = #{isDelete,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>

  <sql id="condition">
    <where>
      <if test="customerName!=null">
        AND customer_name = #{customerName}
      </if>
      <if test="customerCode!=null">
        AND customer_code = #{customerCode}
      </if>
      <if test="agreeSn!=null">
        AND agree_sn = #{agreeSn}
      </if>
      <if test="approvalStatus!=null">
        AND approval_status = #{approvalStatus}
      </if>
    </where>
  </sql>

  <select id="queryListBy" resultMap="ordersMap" parameterType="map">
    SELECT  id, <include refid="Base_Column_List"/>
    FROM <include refid="table"/>
    <include refid="condition"/>
    ORDER BY id DESC
    LIMIT #{start},#{size}
  </select>

  <select id="queryCountBy" resultType="Integer" parameterType="map">
    SELECT COUNT(id)
    FROM <include refid="table"/>
    <include refid="condition"/>
  </select>

</mapper>