<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.admin.dao.customer.CustomerContactDao">
  <resultMap id="customerContactMap" type="CustomerContact">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="customer_id" jdbcType="INTEGER" property="customerId" />
    <result column="customer_code" jdbcType="VARCHAR" property="customerCode" />
    <result column="customer_name" jdbcType="VARCHAR" property="customerName" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="contact_name" jdbcType="VARCHAR" property="contactName" />
    <result column="contact_post" jdbcType="VARCHAR" property="contactPost" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="mobile" jdbcType="VARCHAR" property="mobile" />
    <result column="created_at" jdbcType="TIMESTAMP" property="createdAt" />
    <result column="updated_at" jdbcType="TIMESTAMP" property="updatedAt" />
    <result column="created_by" jdbcType="VARCHAR" property="createdBy" />
    <result column="updated_by" jdbcType="VARCHAR" property="updatedBy" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="is_delete" jdbcType="BIT" property="isDelete" />

  </resultMap>
  <sql id="Base_Column_List">
    customer_id, customer_code, customer_name, type, contact_name, contact_post, phone, mobile,
    created_at, updated_at, created_by, updated_by, remark,
    is_delete
  </sql>

  <sql id="table">customer_contact</sql>

  <select id="getById" parameterType="java.lang.Integer" resultMap="customerContactMap">
    select id,
    <include refid="Base_Column_List" />
    from <include refid="table"/>
    where id = #{id,jdbcType=INTEGER}
  </select>

  <select id="getByCustomerId" parameterType="java.lang.Integer" resultMap="customerContactMap">
    select id,
    <include refid="Base_Column_List" />
    from <include refid="table"/>
    where customer_id = #{customerId,jdbcType=INTEGER}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from <include refid="table"/>
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="CustomerContact"  useGeneratedKeys="true" keyProperty="id">
    insert into <include refid="table"/> (customer_id, customer_code, customer_name,
    type, contact_name, contact_post, phone, mobile,
      created_at, updated_at, created_by, 
      updated_by, remark, is_delete
      )
    values (#{customerId,jdbcType=INTEGER}, #{customerCode,jdbcType=VARCHAR},  #{customerName,jdbcType=VARCHAR},
      #{type,jdbcType=VARCHAR}, #{contactName,jdbcType=VARCHAR},  #{contactPost,jdbcType=VARCHAR},  #{phone,jdbcType=VARCHAR}, #{mobile,jdbcType=VARCHAR},
      #{createdAt,jdbcType=TIMESTAMP}, #{updatedAt,jdbcType=TIMESTAMP}, #{createdBy,jdbcType=VARCHAR}, 
      #{updatedBy,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, #{isDelete,jdbcType=BIT}
      )
  </insert>

  <update id="update" parameterType="CustomerContact">
    update <include refid="table"/>
    <set>
      <if test="customerCode != null">
        customer_code = #{customerCode,jdbcType=VARCHAR},
      </if>
      <if test="customerName != null">
        customer_name = #{customerName,jdbcType=VARCHAR},
      </if>
      <if test="contactName != null">
        contact_name = #{contactName},
      </if>
      <if test="contactPost != null">
        contact_post = #{contactPost},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null">
        mobile = #{mobile,jdbcType=VARCHAR},
      </if>

      <if test="updatedAt != null">
        updated_at = #{updatedAt,jdbcType=TIMESTAMP},
      </if>

      <if test="updatedBy != null">
        updated_by = #{updatedBy,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="isDelete != null">
        is_delete = #{isDelete,jdbcType=BIT},
      </if>

    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>

  <sql id="condition">
    <where>
      <if test="customerId!=null">
        AND customer_id = #{customerId}
      </if>
      <if test="customerName!=null">
        AND customer_name = #{customerName}
      </if>
      <if test="type!=null">
        AND type = #{type}
      </if>

    </where>
  </sql>

  <select id="queryListBy" resultMap="customerContactMap" parameterType="map">
    SELECT id, <include refid="Base_Column_List"/>
    FROM <include refid="table"/>
    <include refid="condition"/>
    ORDER BY id DESC
    LIMIT #{start},#{size}
  </select>

  <select id="queryCountBy" resultType="Integer" parameterType="map">
    SELECT COUNT(id)
    FROM <include refid="table"/>
    <include refid="condition"/>
  </select>
  
</mapper>